<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" defaultLanguage="c#" />
    <customErrors defaultRedirect="~/Administracion_Administracion/Error.aspx" redirectMode="ResponseRewrite" mode="Off">
      <error statusCode="404" redirect="~/Administracion_Administracion/Error.aspx" />
    </customErrors>
    <sessionState timeout="60">
    </sessionState>
    <globalization enableClientBasedCulture="false" fileEncoding="iso-8859-1" responseHeaderEncoding="Windows-1252" enableBestFitResponseEncoding="true" culture="es-CO" uiCulture="es-CO" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
  <connectionStrings>
    <add name="estigioacademicoConnectionString" connectionString="Data Source=itipuentenacional.edu.co;Initial Catalog=academico;Persist Security Info=True;User ID=academicopuente;Password=Estigio2014" />
    <add name="portalpuenteConnectionString" connectionString="Data Source=itipuentenacional.edu.co;Initial Catalog=portalpuente;User ID=portalpuente;Password=portalpuente" />
  </connectionStrings>
</configuration>